@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --clr-dark: rgb(196, 200, 202);
  --clr-light: #fff;
  --clr-black: rgb(0, 0, 0);
  --clr-red: rgb(226, 13, 13);
  --clr-accent: rgb(214, 208, 208);
  --clr-lightdark: rgb(24, 25, 26);
  --clr-sky: rgb(30, 144, 255);
  --clr-ocean: rgb(34, 83, 242);
  --padding-content: 1.2rem;
  --font-title: 1.1rem;
  --font-weight: 500;
  --font-weight-title: 700;
  --font-btn: 0.7rem;
  --font-des: 0.8rem;
  --font-loc: 0.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(127, 107, 183);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(103, 87, 148);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(102, 77, 170);
  border-radius: 2px;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-dark);
  color: var(--clr-dark);

  background: url(images/bg.jpg);
  background-size: cover;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

p {
  color: var(--clr-accent);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-title);
}

.glass_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 90vh;
  width: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
}

.card_row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.buranodoors {
  position: relative;
  width: 16rem;
  height: 22rem;
  background-image: url(images/buranodoors.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 11.5rem;
  opacity: 0.9;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: transform 500ms ease;
}

.buranodoors:hover {
  opacity: 1;
  transform: scale(1.05);
}

.buranodoors-like {
  position: absolute;
  background: url(images/icon-heart.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.2rem;
  height: 1.2rem;
  top: var(--padding-content);
  right: var(--padding-content);
  border: none;
  cursor: pointer;
}

.buranodoors-like:hover,
.buranodoors-like:focus {
  filter: invert(27%) sepia(70%) saturate(7472%) hue-rotate(339deg)
    brightness(86%) contrast(100%);
}

.buranodoors-content {
  padding: 1rem 1.2rem 1.2rem 1.2rem;
  position: relative;
  background: linear-gradient(
    hsl(0 0% 0% /0),
    hsl(0 0% 0% /0.2) 10%,
    hsl(0 0% 0% /1)
  );
  height: 11.3rem;
  transition: transform 600ms ease;
  transform: translateY(50%);
}

.buranodoors:hover .buranodoors-content {
  transform: translateY(-7%);
}

.buranodoors-title {
  font-size: var(--font-title);
  font-weight: var(--font-weight);
  color: var(--clr-light);
  margin-bottom: 0.1rem;
}

.buranodoors-location {
  position: relative;
  width: max-content;
  font-size: var(--font-loc);
  padding-bottom: 1.5rem;
}

.buranodoors-views {
  cursor: pointer;
  display: inline;
  position: absolute;
  top: calc(var(--padding-content) * 1.2);
  right: calc(var(--padding-content) * 3.6);
  text-decoration: none;
  color: var(--clr-light);
  background-color: var(--clr-red);
  padding: 0rem 0.8rem;
  border-radius: 0.8rem;
  border: none;
  font-size: var(--font-btn);
}

.buranodoors-views:hover,
.buranodoors-views:focus {
  background-color: var(--clr-light);
  color: var(--clr-black);
}

.buranodoors-description {
  margin-top: 1rem;
  width: 100%;
  font-size: var(--font-des);
  word-break: break-all;
}

.buranodoors-description::after {
  content: "";
  left: var(--padding-content);
  top: calc(var(--padding-content) * 3.9);
  position: absolute;
  height: 0.25rem;
  width: 86%;
  background: var(--clr-red);
  transform: scaleX(1.2);
  transition: transform 600ms ease;
}

.buranodoors:hover .buranodoors-description::after {
  transform: scaleX(1);
}

.toledo {
  position: relative;
  width: 25rem;
  height: 14rem;
  margin: 1rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  background: var(--clr-light);
  transition: transform 600ms ease;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
}

.toledo-country {
  position: absolute;
  cursor: pointer;
  top: var(--padding-content);
  right: var(--padding-content);
  color: var(--clr-light);
  background-color: var(--clr-sky);
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  line-height: 1rem;
  font-size: var(--font-btn);
}

.toledo-country:hover,
.toledo-country:focus {
  background-color: var(--clr-light);
  color: var(--clr-black);
}

.toledo-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: var(--clr-light);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(10px);
  transition: transform 600ms ease;
  transform: translateY(-99%);
}

.toledo:hover .toledo-stat {
  transform: translateY(0%);
}

.toledo-img {
  overflow: hidden;
}

.toledo-img,
.toledo-img__load {
  width: 25rem;
  height: 14rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  transition: 600ms ease;
}

.toledo:hover .toledo-img__load {
  transform: scale(1.2, 1.2);
}

.toledo:hover .toledo-img {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.toledo-img__load {
  object-fit: cover;
}

.toledo-title {
  font-size: var(--font-title);
  font-weight: var(--font-weight);
  color: var(--clr-ocean);
}

.toledo-description {
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  font-size: var(--font-des);
  word-break: break-all;
  width: 100%;
  color: var(--clr-lightdark);
}

.toledo-like {
  background: url(images/icon-heart.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 2rem;
  height: 2rem;
  margin-left: var(--padding-content);
  margin-right: calc(var(--padding-content) * 0.2);
  top: var(--padding-content);
  right: var(--padding-content);
  filter: invert(37%) sepia(3%) saturate(17%) hue-rotate(346deg) brightness(94%)
    contrast(82%);
  border: none;
  cursor: pointer;
}

.toledo-like:hover,
.toledo-like:focus {
  filter: invert(27%) sepia(70%) saturate(7472%) hue-rotate(339deg)
    brightness(86%) contrast(100%);
}

.florence {
  width: 30rem;
  height: 16.8rem;
  perspective: 50rem;
  transition: 600ms ease;
  transform-style: preserve-3d;
  margin-right: 3rem;
  position: relative;
}

.florence:hover .florence-front {
  transform: rotateY(180deg);
}

.florence:hover .florence-back {
  transform: rotateY(360deg);
}

.florence-front,
.florence-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.florence-front {
  width: 30rem;
  height: 16.8rem;
  padding-top: calc(var(--padding-content) * 10);
  margin: 1rem;
  border-radius: 0.5rem;
  z-index: 2;
  background: url(images/florence.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  transition: 600ms ease;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
}

.florence-country {
  position: absolute;
  cursor: pointer;
  top: var(--padding-content);
  right: var(--padding-content);
  background-color: var(--clr-light);
  color: var(--clr-black);
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  line-height: 1rem;
  font-size: var(--font-btn);
}

.florence-country:hover,
.florence-country:focus {
  color: var(--clr-light);
  background-color: var(--clr-sky);
}

.florence-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1.2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(8px);
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 120px rgba(0, 0, 0, 0.4);
}

.florence-data {
  font-size: var(--font-des);
  margin-top: 0.2rem;
  color: var(--clr-sky);
}

.florence-title {
  font-size: calc(var(--font-title) * 1.2);
  font-weight: var(--font-weight);
  color: var(--clr-light);
}

.florence-more {
  cursor: pointer;
  color: var(--clr-light);
  background-color: var(--clr-sky);
  padding: 0.45rem 0.85rem;
  border-radius: 0.8rem;
  border: none;
  text-align: center;
  line-height: 1rem;
  font-size: var(--font-btn);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to right, rgb(74, 71, 209), rgb(4, 107, 253));
}

.florence-more:hover,
.florence-more:focus {
  background-color: var(--clr-light);
  color: var(--clr-black);
}

.florence-back {
  width: 30rem;
  height: 16.8rem;
  padding-top: 12rem;
  margin: 1rem;
  border-radius: 0.5rem;

  transform: rotateY(180deg);
  transition: transform 600ms ease;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
}

.florence-video > video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.florence-video > button {
  position: absolute;
  top: 80%;
  left: 15%;
  width: 3rem;
  height: 3rem;
  transform: translate(-70%, -40%);
  z-index: 2;
  border-radius: 50%;
  border: none;
  color: transparent;
  background: none;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.3;
}

.florence-video img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.venice {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 34rem;
  height: 22rem;
  margin: 1rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  background: rgba(251, 250, 250, 0.3);
  backdrop-filter: blur(12px);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.venice-stat {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: calc(var(--padding-content) * 1.6);
}

.venice-img {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
}

.venice-country {
  position: relative;
}

.venice-country__btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: var(--clr-light);
  background-color: var(--clr-sky);
  padding: 0.45rem 0.85rem;
  border-radius: 0.8rem;
  border: none;
  text-align: center;
  line-height: 1rem;
  font-size: var(--font-btn);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    to right bottom,
    rgb(109, 95, 220),
    rgb(248, 112, 193)
  );
}

.venice-date {
  font-size: var(--font-des);
  margin-top: 1.5rem;
  color: var(--clr-black);
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight);
}

.venice-title {
  font-size: calc(var(--font-title) * 1.2);
  font-weight: calc(var(--font-weight) * 1.2);
  color: var(--clr-black);
}

.venice-description {
  margin-top: 0.2rem;
  height: 13rem;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-des);
  font-weight: var(--font-weight);
  color: var(--clr-black);
  word-wrap: break-word;
  overflow-y: scroll;
}

.venice-more {
  margin-top: 0.5rem;
}

.venice-more a {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 5rem;
  height: 1rem;
  margin: 2rem 0;
  font-size: calc(var(--font-btn) * 1.1);
  color: rgb(127, 107, 183);
  text-decoration: none;
  transition: 500ms ease-in-out;
}

.venice-more a:hover {
  color: var(--clr-light);
}

.venice-more a:before {
  content: "";
  position: absolute;
  top: -0.12rem;
  left: -1rem;
  width: 0%;
  height: 110%;
  background: url(images/view_btn.png) no-repeat;
  background-size: cover;
  transform-origin: left;
  transition: 400ms ease-in;
}

.venice-more a:hover:before {
  width: 130%;
}

.venice-more a span {
  position: relative;
  z-index: 1;
}
.venice-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 400ms ease-in-out;
}

.venice-img img:hover {
  transform: scale(1.2);
}
